{% ref /^css/.*/ %}
<html>
  <head>
  <link rel="stylesheet" href="{{_rel}}/css/conceptual.css">
  </head>
  <body>
    <nav id="sidebar">
		<ol>
		  <li>What is Azure Rights Management?
			<ol>
			  <li><a href="http://weareminky.com/share/ms/docs/conceptual/example/problems-azure-rms-solves.html">Problems Azure RMS Solves</a></li>
			  <li><a href="http://weareminky.com/share/ms/docs/conceptual/example/rms-in-action.html">Azure RMS in Action</a></li>
			  <li><a href="http://weareminky.com/share/ms/docs/conceptual/example/how-rms-works.html">How Azure RMS Works</a></li>
			</ol>
		  </li>
		  <li><a href="http://weareminky.com/share/ms/docs/conceptual/example/comparing-azure-and-ad-rms.html">Azure Rights Management vs. Active Directory Rights Management Services</a></li>
		  <li><a href="http://weareminky.com/share/ms/docs/conceptual/example/requirements-for-azure-rights-management.html">Requirements for Rights Management</a></li>
		</ol>
	</nav>
  </body>
</html>